:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

button {
  margin-bottom: 20px;
  margin-left: 5px;
}

.video-holder {
  display: inline-block;
  margin-right: 10px;
}

video {
  border: 1px solid black;
}